{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}

{% block body %}

<div class="container" style="background-color: #d1ceed; width:100%; left: 0; right:0">
<br/>
    <div class="row">
        <h1>Accueil</h1>
        <div class="col-12">
        <h2 style="font-style: italic; fonc-weight:bold; text-decoration: underline;">Quesqu'un Hackathon ?</h2>
        </br>
        <h5>Un hackathon est un événement intensif où des esprits créatifs se réunissent pour collaborer, innover et créer de manière intensive sur des projets spécifiques. Que vous soyez un développeur, un designer, un expert en affaires ou simplement passionné par l'innovation, le hackathon offre une plateforme dynamique pour transformer des idées en réalité. </h5>
        </br>
        <h5>Durant cet événement, les participants travaillent en équipes pour résoudre des problèmes, développer des prototypes ou concevoir des solutions novatrices en un laps de temps défini. L'objectif ultime est de stimuler la créativité, d'encourager le partage de connaissances et de catalyser le développement de projets concrets.</h5>
        </br>
        <h5>Le hackathon transcende les frontières disciplinaires, favorise l'apprentissage collaboratif et offre une opportunité unique de découvrir de nouvelles compétences tout en contribuant à l'évolution de la technologie et de la société.</h5>
        </br>
        </div>
    </div>

{% endblock %}